header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;

    @include laptop {
        flex-direction: row;
        justify-content: space-around;
    }

    img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

.header-public {
    display: flex;
    flex-direction: column;
}

.main-public {
    text-align: center;
    padding: 0 1rem;

    img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}

footer {
    display: grid;
    place-content: center;
    height: 300px;
    background-color: $color-secondary;
    color: white;
    align-items: center;

    & img {
        margin: 0 .5rem;
    }

}

